@font-face {
  font-family: RobotoRegular;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoBold;
  src: url(fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: RobotoMonospace;
  src: url(fonts/roboto_mono/RobotoMono-Regular.ttf);
}

body, html {
  font-family: RobotoRegular;
  color: #2c3e50;
  line-height: 1.5em;
  font-size: 16px;
  background-color: #ecf0f1;
}

code {
  font-family: RobotoMonospace;
  background-color: #ecf0f1;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  display: inline-block;
  font-size: 14px;
  color: #34495e;
}

ul li {
  margin-bottom: 10px;
}

strong {
  font-family: RobotoBold;
}

img {
  width: 500px;
  margin: 0px auto;
}

p img {
  text-align: center;
}

a {
  color: #3498db;
}

#wrapper {
  width: 860px;
  padding: 20px;
  margin: 1em auto;
  background-color: white;
}

#header {
  text-align: center;
}
